LonelyRunner/obj/Debug/LonelyRunner.exe
LonelyRunner/obj/Debug/LonelyRunner.MainForm.resources
*.pdb
LonelyRunner/obj/Debug/LonelyRunner.csproj.GenerateResource.Cache
LonelyRunner/obj/Debug/DesignTimeResolveAssemblyReferences.cache
LonelyRunner/bin/Debug/LonelyRunner.exe.config
LonelyRunner/bin/Debug/LonelyRunner.exe
LonelyRunner/bin/Debug/LonelyRunner.vshost.exe
LonelyRunner/obj/Debug/LonelyRunner.Properties.Resources.resources
LonelyRunner/obj/Debug/LonelyRunner.csproj.FileListAbsolute.txt
LonelyRunner/bin/Debug/LonelyRunner.vshost.exe.config
LonelyRunner/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LonelyRunner/obj/Debug/LonelyRunner.csprojResolveAssemblyReference.cache
LonelyRunner/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
LonelyRunner/bin/Debug/LonelyRunner.vshost.exe.manifest
LonelyRunner/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
LonelyRunner/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs